@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1><u>Welcome to ChequeMate</u></h1>
   <div style="text-align: center; margin-top: 30px;">

    <a href="/Cheque" class="btn btn-primary btn-lg">Go to Cheque Form</a>
        <a href="/PF" class="btn btn-primary btn-lg">Go to PF Calculator</a>
        <a href="/Cheque/History" class="btn btn-outline-dark">View Cheque History</a>

</div>
        <br />
        <p><b>Build by AMSTech</b></p>
</div>
